<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
	    <a href="/about/">&copy; 2017-2018</a>
              {{ site.author | escape }}
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
            <!--<li>Feedback / <a href="/contact/">Contact Us</a>.-->
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
              <div style="text-align: right;">{{ site.description }} <br />
              <div style="line-height: 200%; font-size: .5rem;">Built {{site.time}}.</div></div>
      </div>
    </div>

  </div>

</footer>
